body {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    height: 100vh;
    justify-content: center;
    margin: 0px;
    background-color: #FCB31B;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    border-radius: 1rem;
    box-shadow: 5px 5px 12px rgb(0 0 0 / 50%);
}
.display {
    display: flex;
    flex-direction: column;
    min-height: 90px;
    padding-left: 13px;
    padding-right: 13px;
    /* border: 2px solid blue; */
    background-color: #212121;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#result-display {
    min-height: 60px;
    background-color: #3B3B3B;
}

#calculator-body {
    display: grid;
    padding: 13px;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
    /* border: 3px solid black; */
    background-color: #212121;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.button {
    padding: 15px;
    border-radius: 8px;
    background-color: #616161;
    box-shadow: 4px 5px 5px 0px rgb(0 0 0 / 50%);
    color: white;
    font-size: 1.3rem;
    transition: 0.2s;
    border: none;
    cursor: pointer;
}
#equalBtn{
    font-size: 1.325rem;
}

.digit:hover {
    background-color: #c4b4ba;
    /* background-color: #F96EE1; */
    color: black;
}

.erase:hover {
    background-color: #D83B3B;
    color: black;
}

#equalBtn:hover{
    background-color: #00FF41;
    color: black;
}

.operator:hover {
    background-color: #0074FE;
    color: black;
}

#equalBtn {
    grid-column: 3/6;
}